@import url('../../../styles/base.css');
@import url('../../../styles/colors.css');

:root {
  --person-video-height: 75px;
}
.container {
  border-radius: 12px;
  overflow: hidden;
  margin: 60px;
  box-shadow: 0px 2px 2px var(--dark);
  border: 0.5px solid var(--dark);
  padding: 0;

  width: 450px;
  display: flex;
  flex-direction: column;

  i {
    color: var(--light-gray);
  }

  .header {
    flex: 1;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .controls {
      order: 2;
      text-align: right;
      i {
        font-size: 12px;
      }
    }
    .title {
      order: 1;
    }
  }

  .peers {
    display: flex;
    margin: 10px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    z-index: -1;

    i {
      margin: 0 10px;
    }

    .invited {
      flex: 1;
    }

    .people {
      flex: 1;

      .person {
        background-color: var(--dark);
        height: var(--person-video-height);
        width: var(--person-video-height);
        border-radius: calc(var(--person-video-height)/2);

        video {
          border-radius: calc(var(--person-video-height)/2);
          width: var(--person-video-height);
          height: var(--person-video-height);
        }
      }
    }
  }

  .footer {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0px -2px 1px var(--dark);

    .location, .time {
      flex: 1;
      padding: 10px;
      font-weight: normal;
      i {
        margin: 0 10px;
        font-size: 12px;
      }
    }

    .location {
    }
    .time {
      text-align: right;
    }
  }

  .videoContainer {
    flex: 1;
    justify-content: center;
    align-items: center;

    video {
      width: 100%;
    }
  }
}
