@import url('../../../styles/base.css');
@import url('../../../styles/colors.css');

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

@media all and ( min-width: 480px ) {
  .smallRow {
    flex-direction: row;
  }
}

@media all and ( min-width: 720px ) {
  .row-md {
    flex-direction: row;
  }
}

@media all and ( min-width: 960px ) {
  .row-lg {
    flex-direction: row;
  }
}
